@keyframes header2 {
    from {
        opacity: 0;
        transform: translateY(200px) ;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes content1 {
    0% {
        background-color: white;
        color: #333;
    }
    100% {
        background-color: #e29481;
        color: white;
        border-color: #e29481;
    }
}

@keyframes news__c--btn {
    to {
        
    }
}